  <div class="inicio">
    <form class= "search-music" action="/artist-search", method="GET">
        <input name="artist" type="text" placeholder="Artist" id="">
        <input type="button" value="Search for an Artist">
    </form>
</div>      
        
